.about-body{
    background-image: url('../images/img7.jpg');
    background-size: cover;
    height: 89vh;
    position: relative;
}

.about{
   position: absolute;
    top: 40px;
   left: 13%;
    width: 50%;
    
}