.topBar{
    background-color: rgb(229, 60, 88);
   /* background-color: rgb(255, 255, 255); */
    display: flex; 
}

.topLeft-ul{
list-style-type:none;
display: flex;
font-size: 20px;
font-weight: bold;
font-family: 'Lobster', cursive;
}

.topBar-center{
    display: flex;
    font-size: 25px;
    margin: 0 auto;
   font-family:'Smooch', cursive;
   padding-top: 5px;
}
.site-name{
    margin-top: 5px;
}
.topRight-ul{
    list-style-type:none;
    display: flex;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lobster', cursive;

}
.topLeft-links{
    padding: 5px;
margin-top: 10px;   
}
.topRight-links{
   margin-right: 20px; 
}



