.member-body{
    position: relative;
    background-image: url("../images//supergirl.jpg");
    background-size: cover;
    padding-bottom: 20px;
}
.top-form{
    display: flex;
    justify-content: space-between;
}

.member-photo{
    position: absolute;
    top: 40px;
    left: 52%;
}