#sidebar-wrapper {
  width: 280px;
}

.profile-img {
  display: flex;
  justify-content: center;
}
.dp {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.profile-name {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 25px;
  margin-bottom: -10px;
}

.nav-item:hover {
  background-color: tomato;
}
